[submodule "03_occupation"]
	path = 03_occupation
	url = git@github.com:tiffanychenn/03_occupation.git
[submodule "04_lemmeFlaskUSmth"]
	path = 04_lemmeFlaskUSmth
	url = git@github.com:tiffanychenn/04_lemmeFlaskUSmth.git
[submodule "02_work"]
	path = 02_work
	url = git@github.com:tiffanychenn/02_work.git
[submodule "05_occupationsTable"]
	path = 05_occupationsTable
	url = https://github.com/aboblin/Work05.git
