[submodule "03_occupation"]
	path = 03_occupation
	url = git@github.com:tiffanychenn/03_occupation.git
[submodule "04_lemmeFlaskUSmth"]
	path = 04_lemmeFlaskUSmth
	url = git@github.com:tiffanychenn/04_lemmeFlaskUSmth.git
[submodule "02_work"]
	path = 02_work
	url = git@github.com:tiffanychenn/02_work.git
[submodule "05_occupationsTable"]
	path = 05_occupationsTable
	url = https://github.com/aboblin/Work05.git
[submodule "06_echo"]
	path = 06_echo
	url = git@github.com:tiffanychenn/06_echo.git
[submodule "07_login"]
	path = 07_login
	url = git@github.com:tiffanychenn/07_login.git
[submodule "08_login"]
	path = 08_login
	url = git@github.com:tiffanychenn/08_login.git
[submodule "09_sqlite"]
	path = 09_sqlite
	url = git@github.com:tiffanychenn/09_sqlite.git
[submodule "10_db"]
	path = 10_db
	url = git@github.com:GordonLei/roughDev-10db.git
[submodule "CleMenTIne_Storytellers"]
	path = CleMenTIne_Storytellers
	url = git@github.com:MashaZorin/CleMenTIne-Storytellers.git
[submodule "11_css"]
	path = 11_css
	url = git@github.com:tiffanychenn/11_css.git
[submodule "12_foundation"]
	path = 12_foundation
	url = git@github.com:MashaZorin/12_foundation_stuff.git
